body {
    display: flex;
    justify-content: center;
}

#container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 200px;
}

h1 {
    color: #dc7475;
}

h3 {
    color: #dc7475; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.pokeball {
    width: 200px;
    padding-top: 10px;
}

.pokeball:hover {
    animation-name: shake;
    animation-duration: 0.4s;
}

@keyframes shake {
    25% {transform: rotate(3deg);
    transform-origin: bottom;}
    50% {transform: rotate(-3deg);
    transform-origin: bottom;}
    75% {transform: rotate(3deg);
    transform-origin: bottom;}
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: stretch;
}

.name-search-container {
    display: flex;
    gap: 0.3em;
    width: 100%;
}

.name-search-container > input {
    width: 100%;
    padding: 0.5em;
    font-size: large;
    border-radius: 12px;
}

#buttons-container {
    width: 100%;
}

#hidden-span {
    display: none;
    color: #dc7475;
    background-color: #e0e0e0;
    padding: 0.5em;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    max-width: 100%;
    margin-top: 0.5em
}

.hidden-content-container {
    display: flex;
    align-content: space-between;
    gap: 0.5em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    font-size: large;
    font-weight: bold;
}

select {
    border: solid 2px black;
    border-radius: 12px;
    width: 100%;
    padding: 0.5em;
    font-size: large;
}

button {
    padding: 1em;
    background-color: #fc8485;
    border: solid 2px black;
    border-radius: 12px;
    color: white;
    font-size: large;
    width: 160px;
    cursor: pointer;
}

button:hover {
    background-color: #dc7475;
}

button:active {
    background-color: white;
    color: #dc7475;
}

#card-container {
    padding: 0.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 2px black;
    border-radius: 12px;
    min-height: 130px;
    max-width: 100%;
}

.card-div {
    cursor: pointer; 
    display: flex; 
    flex-direction: column; 
    margin-bottom: 0.5em; 
    margin-top: 0.5em; 
    border: solid 2px black; 
    border-radius: 6px; 
    font-size: large; 
    font-weight: bold;
} 

.card-div:hover {
    box-shadow: 5px 5px 10px #e0e0e0;
}

.name-div {
    display: flex; 
    justify-content: center; 
    padding: 0.2em; 
    color: white; 
    background-color: #fc8485;
    align-self: stretch; 
    border-top-left-radius: 3px 3px; 
    border-top-right-radius: 3px 3px;
}

.modal-background {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1; 
    height: 100%; 
    width: 100%; 
    background-color: rgba(0,0,0,0.2);
}

.modal {
    display: flex; 
    flex-direction: column; 
    margin: 1% auto; 
    border: solid 2px black; 
    border-radius: 12px; 
    background-color: white; 
    width: 90%; 
    height: 90%; 
    overflow-y: scroll; 
    font-size: large;
}

.stats-table {
    width: 100%;
}

.stats-table tr:nth-child(even) {
    background-color: #dc7475;
    color: white;
}

.stats-table th {
    text-align: left;
}

.stats-table td {
    text-align: center;
}

ol {
    margin: 0;
}

.moves-table {
    border-collapse: collapse;
    width: 100%;
}

.moves-table th {
    width: 33%;
    color: white;
    background-color: #dc7475;
    border: solid 2px #dc7475;
}

.moves-table td {
    width: 33%;
    border: solid 2px #dc7475;
    padding: 0.2em;
    text-align: center;
}

label {
    padding: 0.5em;
    border: solid 2px black;
    background-color: #fc8485;
    color: white;
    border-radius: 12px;
}

.sprite-display {
    display: flex; 
    flex-flow: row nowrap; 
    align-items: center; 
    max-width: 100%; 
    height: 170px; 
    overflow-x: scroll; 
    border: solid 2px black; 
    border-radius: 12px;
}

@media only screen and (max-width: 650px) {
    #container {
        width: 95%;
    }
}

