body {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 200px;
}

h1 {
    color: #fc8485;
}

.pokeball {
    width: 200px;
    padding-top: 10px;
}

.content-container {
    width: 100%;
}

.name-search-container {
    display: flex;
    flex-wrap: row wrap;
    gap: 0.3em;
}

input:first-of-type {
    width: 100%;
    padding: 0.5em;
    font-size: large;
    border-radius: 12px;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    width: 100%;
}

.buttons-container {
    align-self: flex-start;
}

#hidden-span {
    display: none;
}

#card-container {
    margin-top: 0.5em;
    padding: 0.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 2px black;
    border-radius: 12px;
    min-height: 130px;
}

button {
    padding: 0.5em;
    background-color: #fc8485;
    border: solid 2px black;
    border-radius: 12px;
    color: white;
    font-size: large;
    width: 200px;
    cursor: pointer;
}

button:active {
    background-color: white;
    color: #fc8485;
   
}

@media only screen and (max-width: 650px) {

}

